<!DOCTYPE html>
<html>
  <head>
    <title>PaintPros</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="/paintprosllc.png" width="112" height="60">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Before & After
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Contact Us</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
  </head>

  <body>
    <div class="has-background-black">
      <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
  <footer class="footer has-background-black">
  <div class="content has-background-black has-text-centered">
    <p>
      <strong> <img src="/paintprosllc.png" width="300" height="150">
</strong>
    </p>
</div>
</footer>

</html>
